

<div class="card"  *ngFor="let comment of comments">
  <div class="card-body">
   <h5 class="card-title m-2">{{comment?.value}}</h5>
  </div>
</div>



<form (submit)="onAddComment(commentForm)" #commentForm="ngForm" class="m-2">
  <textarea
    type="text"
    name="enteredValue"
    [ngModel]="comment?.value"
    required
    minlength="3"
    placeholder="Plaats een comment"
    #title="ngModel"
    class="form-control"></textarea>

  <button
    type="submit" class="btn border border-dark m-2">Plaats Comment</button>
</form>
