<!--formulier-->
<form [formGroup]="form" (submit)="onAddPost()" #postForm="ngForm">
    <input type="text" placeholder="Post Title" formControlName="title">
    <input type="text" placeholder="DD-MM-YYYY" formControlName="expirydate">
    <textarea rows="4" placeholder="Post Content" formControlName="content"></textarea>
    <input type="text" placeholder="Post New Price" formControlName="newprice">
    <input type="text" placeholder="Post Old Price" formControlName="oldprice">
    <input type="text" placeholder="Post Shop" formControlName="shop">
    <input type="text " placeholder="Post Location" formControlName="location">


    <div>
        <button type="button" (click)="filePicker.click()"></button>
        <input type="file" #filePicker (change)="onImagePicked($event)">
    </div>
    <div class="image-preview" *ngIf="imagePreview !=='' && imagePreview && form.get('image')!.valid">
        <img [src]="imagePreview" [alt]="form.value.title">
    </div>


    <select class="custom-select" formControlName="categories">
        <option value="ModeAccessoires ">Mode & Accessoires</option>
        <option value="Elektronica ">Elektronica</option>
        <option value="FamilieKinderen ">Familei & Kinderen</option>
        <option value="BeautyGezondheid ">Beauty & Gezondheid</option>
        <option value="HomeLiving ">Home & Living</option>
        <option value="Gaming ">Gaming</option>
        <option value="Boodschappen ">Boodschappen </option>
        <option value="TuinDIY ">Tuin & DIY</option>
        <option value="AutoMotor ">Auto & Motor</option>
        <option value="CultuurVrijetijd ">Cultuur & Vrije Tijd</option>
        <option value="SportOutdoor ">Sport & Outdoor</option>
        <option value="Reizen ">Reizen</option>
    </select>

    <button type="submit">Save Discount</button>
</form>