<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div *ngFor="let user of userList" class="card-admin">
        <div class="card-body">
          <h5 class="card-title">email</h5>
          <p class="">{{user.email}}</p>

          <h5 class="card-title">username</h5>
          <p class="">{{user.username}}</p>

          <h5 class="card-title">rol</h5>
          <p class="">{{user.role}}</p>

          <h5 class="card-title">voornaam</h5>
          <p class="">{{user.firstname}}</p>

          <h5 class="card-title">achternaam</h5>
          <li class="">{{user.lastname}}</li>
          <button type="button" class="btn btn-outline-danger" (click)="handleDelete(user.email)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
