<p>Disocunt pagina</p>

<div class="row">
<div class="card m-2 p-3" style="width: 18rem;" *ngFor="let discount of discounts">
    <div class="card-body p-2">

        <h5 class="card-title">{{discount.title}}</h5>

        <div class="post-image">
          <img [src]="discount.imagePath" [alt]="discount.title">
        </div>
  
        Categorie:
        <h6 class="card-title">{{discount.categories}}</h6>
        Verval datum:
        <h6 class="card-title">{{discount.expirydate}}</h6>
        Omschrijving:
        <p class="card-text">{{discount.content}}</p>
        Nieuwe prijs:
        <h6 class="card-title">{{discount.newprice}}</h6>
        Oude prijs:
        <h6 class="card-title">{{discount.oldprice}}</h6>
        Winkel:
        <h6 class="card-title">{{discount.shop}}</h6>
        Locatie:
        <h6 class="card-title">{{discount.location}}</h6>

      Omschrijving: <p class="card-text">{{discount.content}}</p>

    </div>

    <app-comment [discountId]="discount.id" ></app-comment>

    <div *ngIf="userIsAuthenticated">
      <a [routerLink]="['/edit', discount.id]"  class="btn btn-primary m-2">Bewerk Aanbieding</a>
      <button type="button" class="btn btn-danger m-2" (click)="handleDelete(discount.id)">verwijder deze aanbieding</button>
    </div>
 </div>
</div>
