<p>Disocunt pagina</p>


<a [routerLink]="['/create']"  class="btn btn-primary">Nieuwe Aanbieding</a>

<div class="card" style="width: 18rem;" *ngFor="let discount of discounts">
  <div class="card-body">
    <h5 class="card-title">{{discount.title}}</h5>
    <p class="card-text">{{discount.content}}</p>

  </div>
  <a [routerLink]="['/edit', discount.id]"  class="btn btn-primary">Bewerk Aanbieding</a>
  <button type="button" class="btn btn-danger" (click)="handleDelete(discount.id)">verwijder deze aanbieding</button>
</div>

