<h1 class="mt-4 mb-4">Alle aanbiedingen</h1>


<select name="filter-category" id="filter-category" class="mt-3 mb-3">
  <option value="AutoMotor">AutoMotor</option>
  <option value="saab">Saab</option>
  <option value="mercedes">Mercedes</option>
  <option value="audi">Audi</option>
</select>

<div class="row" id="discount-posts">
  <div class="card m-2 pt-2" style="width: 25rem;" *ngFor="let discount of discounts">

    <img class="card-img-top" [src]="discount.imagePath" [alt]="discount.title">
      <div class="card-body">
         <h5 class="card-title">{{discount.title}}</h5>
         <p class="font-italic">{{discount.categories}}</p>
         <div class="d-flex align-center">
          <p>Geldig tot: &NonBreakingSpace;</p>
          <h6 class="card-title ml-auto">{{ discount.expirydate}}</h6>
         </div>
          <p class="card-text">{{discount.content}}</p>
          <div class="d-flex align-center">
            <h6 class="card-title" style="text-decoration: line-through; color: grey;">€&NonBreakingSpace;{{discount.oldprice}}</h6>
            <h6 class="card-title">€&NonBreakingSpace;{{discount.newprice}}</h6>
          </div>

            <a href="{{discount.shop}}" class="card-title">{{discount.shop}}</a><br>
            <br>
            <h6 class="card-title">{{discount.location}}</h6>

      </div>

      <app-comment [discountId]="discount.id" class="border p-2 bg-light"></app-comment>

      <div class="mt-3 mb-2" *ngIf="userIsAuthenticated">
        <a [routerLink]="['/edit', discount.id]"  class="btn btn-outline-primary m-2">Bewerken</a>
        <button type="button" class="btn btn-outline-danger m-2" (click)="handleDelete(discount.id)">Verwijderen</button>
      </div>
      
 </div>
</div>
